<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="logo.png" alt="Logo do Projeto">
        </div>

        <h2>Desconectado</h2>
        <p>Você saiu da sua conta com sucesso.</p>

        <button onclick="window.location.href='login.html'">Voltar ao Login</button>
    </div>

    <div class="navbar">
        <a href="denuncia.html" class="nav-item">Denúncia</a>
        <a href="chat.html" class="nav-item">Chat</a>
        <a href="logout.html" class="nav-item">Sair</a>
    </div>
</body>
</html>
